@keyframes wave {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25%,
  75% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(0deg);
  }
}

.waving-emoji {
  display: inline-block;
  font-size: 4rem;
  animation: wave 2s infinite;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
}
