.___skills {
  padding-top: 5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.___web-design {
  font-size: 28px;
}

.___web-design p {
  letter-spacing: 4px;
}

.___web-development {
  font-size: 28px;
}

.___web-development p {
  letter-spacing: 4px;
}

.___skills-container {
  margin: auto;
  width: 500px;
  height: 250px;
}

.___skills-icon {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.icon {
  width: 110px;
  height: 110px;
  background-color: #2d2929;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.icon:hover {
  transform: scale(1.2); /* Increase size on hover */
}

.icon img {
  display: flex;
  justify-content: center;
  width: 65px;
  height: 65px;
}

@media (max-width: 800px) {
  .icon {
    width: 70px;
    height: 70px;
    background-color: #2d2929;
    border-radius: 60px;
  }

  .___skills-container {
    margin: auto;
    width: 300px;
    height: 250px;
  }

  .___skills {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
  }

  .___web-design {
    font-size: 24px;
    text-align: center;
  }

  .___web-development {
    font-size: 24px;
    text-align: center;
  }

  .icon img {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
  }
}
