.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.skills-container {
  max-width: 1000px; /* Adjust the value to your desired width */
  margin: 0 auto; /* Center the container horizontally */
  padding: 0 15px; /* Add some padding on the sides if needed */
}

.tech-stack img {
  width: 70px;
  height: 50px;
  object-fit: contain; /* Maintain the aspect ratio of the images */
}
