.___footer-content {
  display: flex;
  justify-content: space-between;
}

.___footer-content1 h2 {
  font-weight: bold;
  font-size: 32px;
  width: 500px;
}

.___footer-content1 p {
  padding-top: 25px;
  font-size: 18px;
  opacity: 90%;
  width: 500px;
}

.___footer-content2 p {
  font-size: 18px;
  margin-bottom: 5px;
}

.email-box {
  padding-left: 15px;
  background-color: rgb(237, 230, 230);
  width: 300px;
  height: 30px;
  border: 1px solid rgb(198, 198, 198);
  border-radius: 5px;
}

.socials-icon-img {
  display: flex;
  gap: 5px;
}

.___footer-content3 p {
  font-size: 18px;
  margin-bottom: 5px;
}

.socials-icon {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: #e6ff00;
  -webkit-box-shadow: 12px 13px 0px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 12px 13px 0px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 12px 13px 0px -8px rgba(0, 0, 0, 0.75);
  transition: transform 0.3s ease-in-out;
}

.socials-icon:hover {
  transform: scale(1.2); /* Increase size on hover */
}

@media (max-width: 800px) {
  .___footer-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .___footer-content1 p {
    padding-top: 25px;
    font-size: 18px;
    opacity: 90%;
    width: 100%;
  }

  .___footer-content1 h2 {
    font-weight: bold;
    font-size: 32px;
    width: 100%;
  }
}
