@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

.body {
  font-family: "Inter";
  background-color: #161414;
}

.navbar-brand {
  color: white !important;
  font-size: 24px !important;
}

.nav-link {
  color: white !important;
  font-size: 24px !important;
}

.btn-contact {
  background-color: #8a8989 !important;
  border-radius: 9px !important;
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #8a8989 !important;
  --bs-btn-border-color: #8a8989 !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #8a8989 !important;
  --bs-btn-hover-border-color: #8a8989 !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #8a8989 !important;
  --bs-btn-active-border-color: #8a8989 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #8a8989 !important;
  --bs-btn-disabled-border-color: #8a8989 !important;
}

p {
  letter-spacing: -1px;
}

.navbar-toggler-icon {
  color: white !important;
  background-image: url(./assets/hamburger.png) !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
}

.copyright {
  text-align: right;
}

.tech-stack {
  display: flex;
  justify-content: flex-start; /* Center the images horizontally */
  flex-wrap: wrap; /* Allow images to wrap to the next line if the container is not wide enough */
  gap: 10px; /* Adjust the gap between images */
}

.btn-viewdetails {
  background-color: #6692fe !important;
  border-radius: 9px !important;
  width: 90%;
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #6692fe !important;
  --bs-btn-border-color: #6692fe !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #6692fe !important;
  --bs-btn-hover-border-color: #6692fe !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #6692fe !important;
  --bs-btn-active-border-color: #6692fe !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #6692fe !important;
  --bs-btn-disabled-border-color: #6692fe !important;
}

.btn-visit {
  background-color: #6692fe !important;
  border-radius: 9px !important;
  width: 100%;
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #6692fe !important;
  --bs-btn-border-color: #6692fe !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #6692fe !important;
  --bs-btn-hover-border-color: #6692fe !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #6692fe !important;
  --bs-btn-active-border-color: #6692fe !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #6692fe !important;
  --bs-btn-disabled-border-color: #6692fe !important;
}

.btn-back {
  background-color: #6692fe !important;
  border-radius: 9px !important;
  width: 200px;
  height: 50px;
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #6692fe !important;
  --bs-btn-border-color: #6692fe !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #6692fe !important;
  --bs-btn-hover-border-color: #6692fe !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #6692fe !important;
  --bs-btn-active-border-color: #6692fe !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #6692fe !important;
  --bs-btn-disabled-border-color: #6692fe !important;
}

.intro-sub-text {
  width: 50%;
}

.image-container {
  display: flex;
  justify-content: space-between;
}

.screenshot-image {
  width: 400px;
  height: 250px;
  border-radius: 15px;
  box-shadow: 5px 5px;
  margin-top: 5px;
}

@media (max-width: 575.98px) {
  .copyright {
    padding-top: 2rem;
    text-align: left;
  }

  .tech-stack {
    display: flex;
    justify-content: center; /* Center the images horizontally */
    flex-wrap: wrap; /* Allow images to wrap to the next line if the container is not wide enough */
    gap: 10px; /* Adjust the gap between images */
  }

  .intro-sub-text {
    width: 100%;
  }

  .work {
    display: flex;
    flex-direction: column;
  }

  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .screenshot-image {
    width: 250px;
    height: 150px;
    border-radius: 15px;
    box-shadow: 5px 5px;
    margin-top: 15px;
  }
}
